[[fr:GCplus-test-template-fra]]
__NOTOC__
{{DFO-IM-gcplus-head-main}}
{{DFO-IM-gcplus-nav-main}}
<html>
<div role="main" class="container-fluid">
	<nav aria-label="breadcrumb" class="mb-2">
	  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="http://www.gcpedia.gc.ca/wiki/Information_management_at_Fisheries_and_Oceans_Canada_(DFO)">Information Management</a></li>
		<li class="breadcrumb-item"><a href="#">Link</a></li>
		<li class="breadcrumb-item active" aria-current="page">Current Page</li>
	  </ol>
	</nav>

	<div class="row">
		<div class="col-md-12">
			<h3>Content with Boxes</h3>
			<img src="http://www.gcpedia.gc.ca/gcwiki/images/7/77/Logo-graphic.png" width="150" alt="" class="img-thumbnail img-fluid float-right mr-2">
			<div class="lead">
				<p><img src="http://www.gcpedia.gc.ca/gcwiki/images/e/e9/Technical-support.png" class="float-left mr-2">
				Need boxes with links, update dates and different colours? This page will let you mix and match what you need. All boxes have their heights automatically matched so it looks better.</p>
			</div>
		</div>
	</div>	
	
	<div class="row mb-0">
		<div class="col-md-12">
			<h4>Content Heading (1 card)</h4>
		</div>
	</div>
	
	<div class="card-deck mt-5">
				
		<div class="card card-accent-primary mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              <img src="http://www.gcpedia.gc.ca/gcwiki/images/a/a3/Bars-chart.png" alt="Card image cap" class="float-right">
			  <ul>
				<li><a href="#">Link</a></li>
			  </ul>              
            </div>
			<div class="card-footer text-muted">
				Updated as of XXXX-XX-XX 
			</div>
        </div>	
	</div>
	
	<div class="row mb-0">
		<div class="col-md-12">
			<h4>Content Heading (2 cards)</h4>
		</div>
	</div>
	
	<div class="card-deck mt-5">
				
		<div class="card card-accent-secondary mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              <img src="http://www.gcpedia.gc.ca/gcwiki/images/a/a3/Bars-chart.png" alt="Card image cap" class="float-right">
			  <ul>
				<li><a href="#">Link</a></li>
			  </ul>              
            </div>
			<div class="card-footer text-muted">
				Updated as of XXXX-XX-XX 
			</div>
        </div>
		
		<div class="card card-accent-secondary mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              <img src="http://www.gcpedia.gc.ca/gcwiki/images/7/70/Presentation-icon.png" alt="Card image cap" class="float-right">
			  <ul>
				<li><a href="#">Link</a></li>
			  </ul>              
            </div>
			<div class="card-footer text-muted">
				Updated as of XXXX-XX-XX 
			</div>
        </div>
	</div>	
	
	<div class="row mb-0">
		<div class="col-md-12">
			<h4>Content Heading (3 cards)</h4>
		</div>
	</div>
	
	<div class="card-deck mt-5">
				
		<div class="card card-accent-success mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              
			   <img src="http://www.gcpedia.gc.ca/gcwiki/images/a/a7/Messages-icon.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Sed a justo congue, mattis risus et, ornare purus. Ut tempor fermentum augue, et condimentum erat aliquam eget. Aliquam laoreet est a metus commodo, sed vestibulum justo accumsan. Suspendisse tincidunt feugiat velit, et finibus lacus eleifend vel. Aliquam quis est nibh.</p>
			  
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-success btn-block">Link to content</a>
			</div>
        </div>
	
		<div class="card card-accent-success mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              
			  <img src="http://www.gcpedia.gc.ca/gcwiki/images/5/55/Archive.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Sed a justo congue, mattis risus et, ornare purus.</p>
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-success btn-block">Link to content</a>
			</div>
        </div>
		
		<div class="card card-accent-success mb-3 shadow">
		    <div class="card-header"><h5>Content Box w/ Drop Down links</h5></div>
            <div class="card-body">
              
			  <img src="http://www.gcpedia.gc.ca/gcwiki/images/6/64/Open-book.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Content with a button to show and hide links.</p>
			  <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">^ View Links and watch the height of the columns ^</a>
			  <ul class="collapse mt-2" id="collapseExample">
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			  </ul>
			  
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-success btn-block">Link <span class="badge badge-pill badge-light">with a badge</span></a>
			</div>
        </div>	 
	</div>
	
	<div class="row mb-0">
		<div class="col-md-12">
			<h4>Content Heading (4 cards)</h4>
		</div>
	</div>
	
	<div class="card-deck mt-5">
				
		<div class="card card-accent-danger mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              
			   <img src="http://www.gcpedia.gc.ca/gcwiki/images/a/a7/Messages-icon.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Sed a justo congue, mattis risus et, ornare purus. Ut tempor fermentum augue, et condimentum erat aliquam eget. Aliquam laoreet est a metus commodo, sed vestibulum justo accumsan. Suspendisse tincidunt feugiat velit, et finibus lacus eleifend vel. Aliquam quis est nibh.</p>
			  
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-danger btn-block">Link to content</a>
			</div>
        </div>
	
		<div class="card card-accent-danger mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              
			  <img src="http://www.gcpedia.gc.ca/gcwiki/images/5/55/Archive.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Sed a justo congue, mattis risus et, ornare purus.</p>
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-danger btn-block">Link to content</a>
			</div>
        </div>
		
		<div class="card card-accent-danger mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              
			   <img src="http://www.gcpedia.gc.ca/gcwiki/images/a/a7/Messages-icon.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Sed a justo congue, mattis risus et, ornare purus. Ut tempor fermentum augue, et condimentum erat aliquam eget. Aliquam laoreet est a metus commodo, sed vestibulum justo accumsan. Suspendisse tincidunt feugiat velit, et finibus lacus eleifend vel. Aliquam quis est nibh.</p>
			  
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-danger btn-block">Link to content</a>
			</div>
        </div>		
		<div class="card card-accent-danger mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              
			   <img src="http://www.gcpedia.gc.ca/gcwiki/images/a/a7/Messages-icon.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Sed a justo congue, mattis risus et, ornare purus. Ut tempor fermentum augue, et condimentum erat aliquam eget. Aliquam laoreet est a metus commodo, sed vestibulum justo accumsan. Suspendisse tincidunt feugiat velit, et finibus lacus eleifend vel. Aliquam quis est nibh.</p>
			  
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-danger btn-block">Link to content</a>
			</div>
        </div>		
	</div>
</div>

</html>
{{DFO-IM-gcplus-footer-main}}
{{DFO-IM-gcplus css}}	
{{DFO-IM-gcplus-css-override}}

