[[fr:GCplus-test-template-fra]]
__NOTOC__
{{DFO-IM-gcplus-head-main}}
{{DFO-IM-gcplus-nav-main}}
<html>
<div role="main" class="container-fluid">
	<nav aria-label="breadcrumb" class="mb-2">
	  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="http://www.gcpedia.gc.ca/wiki/Information_management_at_Fisheries_and_Oceans_Canada_(DFO)">Information Management</a></li>
		<li class="breadcrumb-item"><a href="#">Link</a></li>
		<li class="breadcrumb-item active" aria-current="page">Current Page</li>
	  </ol>
	</nav>

	<div class="row">
	  <div class="col-lg-12">
		<div class="bs-component">
		  <div class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<p class="mb-0">Need an alert on your page? <a href="#" class="alert-link">Put it here with a link!</a></p>
		  </div>
		</div>
	  </div>
	</div>

	<div class="row">
		<div class="col-md-8 mb-3">
			<div class="media">
				<img class="align-self-start mr-1" src="http://www.gcpedia.gc.ca/gcwiki/images/f/fa/Gcdocs-icon-3535.png" />
				<div class="media-body">
					<h3>Page Title with an image!</h3>
				</div>
			</div>
			
			<div class="lead">
				<p>
				<img src="http://www.gcpedia.gc.ca/gcwiki/images/7/77/Logo-graphic.png" width="175" alt="" class="img-thumbnail img-fluid float-left mr-2">
				Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam eleifend pharetra lacus nec hendrerit. Fusce placerat efficitur porta. Integer id lacinia libero. Ut gravida vestibulum sagittis. Phasellus dignissim varius nunc ac ultricies. Donec non turpis vitae orci porttitor venenatis.</p>
				<p>Sed a justo congue, mattis risus et, ornare purus. Ut tempor fermentum augue, et condimentum erat aliquam eget. Aliquam laoreet est a metus commodo, sed vestibulum justo accumsan. Suspendisse tincidunt feugiat velit, et finibus lacus eleifend vel. Aliquam quis est nibh.</p>
			</div>
				<hr/>
			<a href="#" data-toggle="tooltip" data-placement="top" title="Need a call to action?" class="btn btn-success btn-block btn-lg">Button 1</a>
			<a href="#" data-toggle="tooltip" data-placement="bottom" title="Video Tutorials" class="btn btn-info btn-block btn-lg">Button 2</a>
			
			
		</div>
		<div class="col-md-4">
			<div class="card card-accent-success shadow">
				<div class="card-header">
					<img src="http://www.gcpedia.gc.ca/gcwiki/images/d/d7/Promotion-icon.png" alt="Card image cap" class="float-right"><h5>Feature Items</h5>
				</div>
				<div class="card-body">
					<p>Need a feature box?</p>
					<p>Place it here.
					</p>
				</div>
				<div class="card-footer text-muted">
					Updated as of today's date
				</div>
			</div>
		</div>
	</div>
	
	

	<div class="card-deck mt-5">
	
		<div class="card card-accent-danger mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              
			   <img src="http://www.gcpedia.gc.ca/gcwiki/images/a/a7/Messages-icon.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Sed a justo congue, mattis risus et, ornare purus. Ut tempor fermentum augue, et condimentum erat aliquam eget. Aliquam laoreet est a metus commodo, sed vestibulum justo accumsan. Suspendisse tincidunt feugiat velit, et finibus lacus eleifend vel. Aliquam quis est nibh.</p>
			  
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-danger btn-block">Link to content</a>
			</div>
        </div>
	
		<div class="card card-accent-danger mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              
			  <img src="http://www.gcpedia.gc.ca/gcwiki/images/5/55/Archive.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Sed a justo congue, mattis risus et, ornare purus.</p>
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-danger btn-block">Link to content</a>
			</div>
        </div>
		
		<div class="card card-accent-danger mb-3 shadow">
		    <div class="card-header"><h5>Content Box w/ Drop Down links</h5></div>
            <div class="card-body">
              
			  <img src="http://www.gcpedia.gc.ca/gcwiki/images/6/64/Open-book.png" alt="Card image cap" class="float-right">
			  <p class="card-text">Content with a button to show and hide links.</p>
			  <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">^ View Links and watch the height of the columns ^</a>
			  <ul class="collapse mt-2" id="collapseExample">
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			  </ul>
			  
              
            </div>
			<div class="card-footer">
				<a href="#" class="btn btn-danger btn-block">Link <span class="badge badge-pill badge-light">with a badge</span></a>
			</div>
        </div>	 

		
		
	</div>
	
	<div class="card-deck mt-5">
				
		<div class="card card-accent-secondary mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              <img src="http://www.gcpedia.gc.ca/gcwiki/images/a/a3/Bars-chart.png" alt="Card image cap" class="float-right">
			  <ul>
				<li><a href="#">Link</a></li>
			  </ul>              
            </div>
			<div class="card-footer text-muted">
				Updated as of XXXX-XX-XX 
			</div>
        </div>
		
		<div class="card card-accent-secondary mb-3 shadow">
			
            <div class="card-header"><h5>Content Box</h5></div>
            <div class="card-body">
              <img src="http://www.gcpedia.gc.ca/gcwiki/images/7/70/Presentation-icon.png" alt="Card image cap" class="float-right">
			  <ul>
				<li><a href="#">Link</a></li>
			  </ul>              
            </div>
			<div class="card-footer text-muted">
				Updated as of XXXX-XX-XX 
			</div>
        </div>
	</div>

	<div class="row mt-5">
		<div class="col-md-12">
			<h3>Tables - 2 columns</h3>
		</div>
		<div class="col-md-6">
			<h4>Table 1</h4>
			
			<table class="table table-bordered table-hover table-sm">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Table Header</th>
					<th scope="col">Table Header</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th colspan="2">Subheader (2 columns)</th>
				</tr>
				<tr>
					<td>Content</td>
					<td>Content</td>
				</tr>
				<tr>
					<td>Content</td>
					<td>Content</td>
				</tr>
				</tbody>
			</table>			
		</div>
		<div class="col-md-6">
			<h4>Table 2</h4>
			<table class="table table-bordered table-hover table-sm">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Table Header</th>
					<th scope="col">Table Header</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th colspan="2">Subheader (2 columns)</th>
				</tr>
				<tr>
					<td>Content</td>
					<td>Content</td>
				</tr>
				<tr>
					<td>Content</td>
					<td>Content</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>
{{DFO-IM-gcplus-footer-main}}
{{DFO-IM-gcplus css}}
{{DFO-IM-gcplus-css-override}}
